body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; background-color: white;
}
header {
    background-color: rgb(128, 0, 128);border-style: hidden; border-width: 5px;
}
aside {
    background-color: rgb(217, 140, 217); border-style: double; border-width: 5px; padding: 10px; margin-block-end: 20px;
}
footer {
    background-color: rgb(128, 0, 128); border-style: hidden; border-width: 5px;
}
section {
    background-color: rgb(135, 67, 135);border-style: hidden; border-width: 5px; padding-top: 5px;
}
article {
    background-color: rgb(183, 77, 183);
}
#my-heading{
    color: olivedrab;
}
.skills {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: gray;}
h2 {
    color: rgb(235, 235, 95) ; font-family: cursive; font-size: 20px; margin: 10px; padding: 10px;
}
h1 {
    font-family: sans-serif;
}
body {
    margin: ;
}
.my-menu {
    border: 50px; padding: 10px;
}